body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

#logs, #modules {
    margin-bottom: 20px;
}

#logList {
    list-style-type: none;
}

#logList li {
    background-color: #f4f4f4;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
}

