<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs Table</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
</head>
<body>
    <h1>Logs Table</h1>
    <table id="logsTable" class="display">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Host</th>
                <th>Message</th>
                <th>Log Level</th>
            </tr>
        </thead>
        <tbody>
            <% logs.forEach(log => { %>
                <tr>
                    <td><%= new Date(log._source['@timestamp']).toLocaleString() %></td>
                    <td><%= log._source.host ? log._source.host.name : 'N/A' %></td>
                    <td><%= log._source.message %></td>
                    <td><%= log._source.log ? log._source.log.level : 'N/A' %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#logsTable').DataTable();
        });
    </script>
</body>
</html>

